h1, h2, h3, h4, h5, h6 {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Iosevka Nerd Font Mono";
}

li {
  font-family: "Iosevka Nerd Font Mono";
}

.sidebar-about h1 {
  font-size: 1.2em;
  font-family: "IBM Plex Mono", monospace;
}

/* Copy button. */

.highlight {
  position: relative;
}
.highlight pre {
  padding-right: 75px;
}
.highlight-copy-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.7em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  min-width: 55px;
  text-align: center;
}
.highlight-copy-btn:hover {
  background-color: #666;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255,255,255,.8);
    background: rgba(78,78,78,.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none
}

div.highlight:hover .copy-code,pre:hover .copy-code {
    display: block
}

/* images. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
