@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

h1, h2, h3, h4, h5, h6 {
	font-size: 1rem;
	font-weight: 600;
	font-family: "JetBrains Mono";
}

li {
	font-family: "JetBrains Mono";
}

p {
	font-family: "JetBrains Mono";
}

pre, code, kbd, samp {
    background: var(--inner-bg) !important;
    font-family: var(--font-monospace);
    font-size: 16px;
    color: var(--off-fg);
}

.sidebar-about h1 {
	/* font-size: 1.2em; */
	font-family: "JetBrains Mono", monospace;
}

/* Copy button. */

.highlight {
	position: relative;
}
.highlight pre {
	padding-right: 75px;
}
.highlight-copy-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.7em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  min-width: 55px;
  text-align: center;
}
.highlight-copy-btn:hover {
  background-color: #666;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: rgba(255,255,255,.8);
    background: rgba(78,78,78,.8);
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none
}

div.highlight:hover .copy-code,pre:hover .copy-code {
    display: block
}

/* images. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
